/** Custom Variables **/
:root {
    --bg-page: #191920;
    --bg-drk-blue: #1a1b26;
    --bg-orange: #ff9d64d0;
    --clr-primary: #fff;

    /* Typography */
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Great Vibes', cursive;

    /* Font Weights */
    --fw-thin: 100;
    --fw-cord-title: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    /* Font Sizes */
    --fs-h1: clamp(4.5rem, 6.5vw, 9rem);
    --fs-h2: 1.5rem;
    --fs-card-title: 2.25rem;
    --fs-p: 1rem;
}


/** Reset **/
*,
*::after,
*::before {
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
p {
    margin: 0;
}

body {
    background-color: var(--bg-page);
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231a1b26' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
    font-family: var(--font-primary);
    font-size: var(--fs-p);
    color: var(--clr-primary);
    margin: 0em;
    line-height: 1.4;
    text-align: center;
}


a {
    text-decoration: none;
}


/** Typography **/
.title {
    font-size: var(--fs-h1);
    font-weight: var(--fw-regular);
    line-height: 1;
}

.subtitle {
    font-size: var(--fs-h2);
    font-weight: var(--fw-regular);
}


/** General Styling **/
.bg-dark {
    background: var(--bg-drk-blue);
}

.bold {
    font-weight: var(--fw-bold);
}

.btn {
    font-size: clamp(.85rem, 1.5vw, 1rem);
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
    text-transform: uppercase;
    position: relative;
}

.contact-link {
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
    position: relative;
}

.btn::after,
.contact-link::after {
    content: "";
    position: absolute;
    height: .75em;
    width: 95%;
    left: -2.5%;
    top: 45%;
    z-index: -1;
    background-color: var(--bg-orange);
    transition: transform 175ms cubic-bezier(.37,-0.41,.69,1.54);
    transform-origin: bottom left;
}

.btn:hover::after,
.btn:focus::after,
.contact-link:hover::after,
.contact-link:focus::after {
  transform: scale(1.12, 1.85);
}


/** Header **/
header {
    padding: 4em .5em;
}

.subtitle {
    margin-top: .75em;
}

.subtitle-secondary {
    margin-top: 2em;
}



/* Main */
.card-img {
    padding: 2.5em 1em ;
}

.card-img img {
    box-shadow: 10px 10px 10px 0 rgba(20, 20, 20, 0.452);
}

.card-body{
    padding: 0 1em 3em 1em;
}

.card-body > * + * {
    margin-top: 1.5em;
}

.card-title {
    font-size: var(--fs-card-title);
    font-weight: var(--fw-card-title);
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 1em;
}



/** Contact **/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    padding: 20em 4.5em 4.5em 4.5em;
}

.icons {
    display: flex;
    gap: 3.25rem;
    font-size: 2rem;
}

.icon-link {
    color: var(--clr-primary);
    transform-origin: center;
}

.icon-link:visited {
    color: var(--clr-primary);

}

.icon-link:hover,
.icon-link:focus {
    transform: scale(1.5);
}

.contact-title {
    position: relative;
    display: inline-block;
    font-size: clamp(2rem, 2.5vw, 2rem);
    font-weight: 700;
    text-transform: uppercase;
}

.contact-title::after {
    display: block;
    position: absolute;
    content: "";
    height: 2.5%;
    width: 150%;
    left: 50%;
    top: 50;
    background: var(--clr-primary);
    transform: translate(-50%);
}

.signature {
    padding: 1em 0 2em 0;
}



/* * Grid *  */
@media (min-width: 768px) {

    body {
        /* border: solid green 2px; */
        max-width: 1375px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    /*  Header */
    header {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    header .body {
        padding: 10em 1em;
    }

    
  


    /* Cards */
    .card-img,
    .card-body {
        background: transparent;
        padding: 0;
        margin: 0;
    }

    .card-body {
        align-self: center;
        padding: 1em 1em;
    }

    .card-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


    /*  Grid */
    .main-grid {
        display: grid;
        
        
    }



}
