/** Custom Variables **/
:root {
    --bg-page: #191920;
    --bg-drk-blue: #1a1b26;
    --bg-orange: #ff9d64d0;
    --clr-primary: #fff;

    /* Typography */
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Great Vibes', cursive;


    /* Font Weights */
    --fw-thin: 100;
    --fw-cord-title: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    /* Font Sizes */
    --fs-h1: clamp(4.5rem, 6.5vw, 9rem);
    --fs-h2: 1.5rem;
    --fs-card-title: 2.25rem;
    --fs-p: 1rem;
}


/** Reset **/
*,
*::after,
*::before {
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: red;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231a1b26' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
    font-family: var(--font-primary);
    font-size: var(--fs-p);
    color: var(--clr-primary);
    margin: 0em;
    line-height: 1.4;
    text-align: center;
}

h1,
h2,
p {
    margin: 0;
}

a {
    text-decoration: none;
}



/** Typography **/
.title {
    font-size: var(--fs-h1);
    font-weight: var(--fw-regular);
    line-height: 1;
}

.subtitle {
    font-size: var(--fs-h2);
    font-weight: var(--fw-regular);
}



/** General Styling **/
.bg-dark {
    background: var(--bg-drk-blue);
}

.bold {
    font-weight: var(--fw-bold);
}

.btn {
    font-size: clamp(.85rem, 1.5vw, 1rem);
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
    text-transform: uppercase;
    position: relative;
}

.contact-link {
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
    position: relative;
}

.btn::after,
.contact-link::after {
    content: "";
    position: absolute;
    height: .75em;
    width: 95%;
    left: -2.5%;
    top: 45%;
    z-index: -1;
    background-color: var(--bg-orange);
    transition: transform 175ms cubic-bezier(.37,-0.41,.69,1.54);
    transform-origin: bottom left;
}

.btn:hover::after,
.btn:focus::after,
.contact-link:hover::after,
.contact-link:focus::after {
  transform: scale(1.12, 1.85);
}


/** Header **/
header {
    
    padding: 4em .5em;
}

.subtitle {
    margin-top: .75em;
}

.subtitle-secondary {
    margin-top: 2em;
}



/* Main */
.card-img {
    padding: 2.5em 1em ;
}

.card-img img {
    box-shadow: 10px 10px 10px 0 rgba(20, 20, 20, 0.452);
}

.card-body{
    padding: 0 1em 3em 1em;
}

.card-body > * + * {
    margin-top: 1.5em;
}

.card-title {
    font-size: var(--fs-card-title);
    font-weight: var(--fw-card-title);
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 1em;
}



/** Contact **/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    padding: 20em 4.5em 4.5em 4.5em;
}

.icons {
    display: flex;
    gap: 3.25rem;
    font-size: 2rem;
}

.icon-link {
    color: var(--clr-primary);
    transform-origin: center;
}

.icon-link:visited {
    color: var(--clr-primary);

}

.icon-link:hover,
.icon-link:focus {
    transform: scale(1.5);
}

.contact-title {
    position: relative;
    display: inline-block;
    font-size: clamp(2rem, 2.5vw, 2rem);
    font-weight: 700;
    text-transform: uppercase;
}

.contact-title::after {
    display: block;
    position: absolute;
    content: "";
    height: 2.5%;
    width: 150%;
    left: 50%;
    top: 50;
    background: var(--clr-primary);
    transform: translate(-50%);
}

.signature {
    padding: 1em 0 2em 0;
}



/** Grid **/
@media (min-width: 768px) {

    body {
        max-width: 1375px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3em;
        position: relative;
    }

    body::before,
    body::after {
        content: "";
        position: absolute;
        background: #fff;
    }

    body::before {
        height: 3%;
        width: .05%;
        left: 80%;
    }

    body::after {
        height: 5%;
        width: .05%;
        left: 85%;  
    }


    /*  Header */
    header {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: relative;
    }

    header::after {
        position: absolute;
        content: "";
        height: 45%;
        width: .05%;
        left: 40%;
        z-index: -10;
        background: #fff;
    }

    .box {
        content: "";
        position: absolute;
        height: 35%;
        width: 40%;
        z-index: -1;
    }

    .box::after {
        content: "";
        position: absolute;
        height: .05%;
        width: 55%;
        left: 75%;
        bottom: 15%;
        z-index: -10;
        background: rgb(255, 255, 255);
    }

    header .body {
        padding: 10em 1em;
    }

    
    /* header.grid,
    footer.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 1em;
    }  */


    /* Cards */
    .card-img,
    .card-body {
        background: transparent;
        padding: 0;
        margin: 0;
    }

    .card-body {
        align-self: center;
        padding: 1em 1em;
    }

    .card-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


    /*  Grid */
    .main-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        grid-template-rows: repeat(8, 1fr);
        gap: 2em;
        position: relative;
    }

    .card-img.music {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .card-body.music {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .card-img.hive {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
    }

    .card-body.hive {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .card-img.skate {
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }

    .card-body.skate {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
    }

    .main-grid :nth-child(4) {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    .main-grid :nth-child(8) {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .main-grid :nth-child(12) {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .main-grid :nth-child(13) {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }

    .main-grid :nth-child(20) {
        grid-row: 7 / 8;
        grid-column: 3 / 4;
    }

    .main-grid :nth-child(21) {
        grid-row: 8 / 9;
        grid-column: 1 / 2;
    }


    /* Decorations */
    .deco, 
    .deco4, 
    .deco8, 
    .deco13, 
    .deco20,
    .deco21 {
        position: relative;
    }

    /* grid items 1 & 4 */
    .deco::before, 
    .deco::after,
    .deco4::before, 
    .deco4::after {
        content: "";
        position: absolute;
        height: 100%;
        width: .05%;
        background: #fff;
    }

    .deco::before {
        top: -25%;
        left: 10%;
        z-index: -1;
    }

    .deco::after {
        top: -50%;
        left: 20%;
    }

    .deco4::before {
        top: 25%;
        left: 90%;
        z-index: -1;
    }

    .deco4::after {
        top: 50%;
        left: 80%;
    }

    /*  grid items 8 & 13 */
    .deco8::before, 
    .deco8::after,
    .deco13::before, 
    .deco13::after {
        content: "";
        position: absolute;
        background: #fff;
    }

    .deco8::before {
        height: 75%;
        width: .05%;
        top: -10%;
        left: 0%;
    } 

    .deco8::after {
        height: .05%;
        width: 75%;
        top: 0%;
        left: -10%;
    }

    
    .deco13::before {
        height: 75%;
        width: .05%;
        bottom: -10%;
        right: 0;
    }

    .deco13::after {
        height: .05%;
        width: 75%;
        bottom: 0%;
        right: -10%; 
    }

    /* grid items 20 & 21 */
    .deco20::before, 
    .deco20::after,
    .deco21::before, 
    .deco21::after {
        content: "";
        position: absolute;
        background: #fff;
    }

    .deco20::before {
        height: 100%;
        width: .05%;
        top: -10%;
        right: -10%;
    }

    .deco20::after {
        height: .05%;
        width: 100%;
        bottom: -15%;
        right: -10%;
    }

    .deco21::before {
        height: 100%;
        width: .05%;
        top: -60%;
        left: -10%;
    }

    /* .deco21::after {
        height: 100%;
        width: .05%;
        top: 10%;
        right: -10%;
        
    } */

}
