@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/variables' as *;

.button {
    display: inline-flex;
    position: relative;
    max-width: max-content;
    position: relative;
    gap: 1rem;
    align-items: center;
    padding: .75rem 1.5rem;
    background-color: $clr-orange;
    background: linear-gradient(90deg, rgba(255,101,100,1) 0%, rgba(255,157,100,1) 53%, rgba(255,101,100,1) ) var(--x, 0) / 200%;
    color: $clr-dark-blue;
    font-family: $ff-heading;
    font-size: .875rem;
    font-weight: $fw-700;
    cursor: pointer;
    transition: .5s;
    // border-radius: 10px;

    &:hover,
    &:focus {
        --x: 100%;
        box-shadow: 10px 10px 0 0 #34364d;
    }

    // > svg {
    //     position: absolute;
    //     right: -15px;
    //     color: white;
    // }
}