@use '../abstracts/fonts' as *;
@use '../abstracts/variables' as *;

.socialbar {
    gap: 1rem;
    justify-content: center;

    > a {
        font-size: $fs-600;
        color: #575a80;

        :hover,
        :focus {
            color: white;
        }
    }
}