@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;

.tile {
    padding: 0 clamp(1rem, 4vw, 3.5rem) clamp(1.85rem, 5vw, 3rem);
    aspect-ratio: 16 / 9;
    background-color: $clr-dark-blue;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.45);
    
    .heading {
        gap: 0;
        height: 100%;
    }

    .subtitle {
        margin-block-end: clamp(.5rem, 3vw, 2rem);
    }
    
    @media (min-width: $mq-768) {
        max-width: 75%;

        .title {
            margin-bottom: 0;
        }
    }

    
}