@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;

.tile {
    padding: 0 clamp(1rem, 4vw, 3.5rem) clamp(1.85rem, 5vw, 3rem);
    aspect-ratio: 16 / 9;
    background-color: $clr-dark-blue;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.45);
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: rgb(38 26 37 / 0.856);
        // border: solid white 2px;
        width: 100%;
        transform: scale(0, 1);
        transition: transform 350ms ease-in;
        transform-origin: left;
    }

    &:hover::after {
        transform: scale(1, 1)
    }
    
    .heading {
        gap: 0;
        height: 100%;
        transform: scale(1) ;
        transition: transform 250ms ease-in;
        transition-delay: 300ms;
        transform-origin: center center;
    }
    
    .heading:hover {
        transform: scale(1.04);
    }

    .subtitle {
        margin-block-end: clamp(.5rem, 3vw, 2rem);
    }
    
    @media (min-width: $mq-768) {
        max-width: 75%;

        .title {
            margin-bottom: 0;
        }
    }
}