@use '../abstracts/variables' as *;

.flex {
    display: flex;
    gap: $gap;
}

.direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}