/* Font Family */
.ff-body { font-family: $ff-body; }
.ff-heading { font-family: $ff-heading; }

/* Font Size */
.fs-900 { font-size: $fs-900; }
.fs-800 { font-size: $fs-800; }
.fs-700 { font-size: $fs-700; }
.fs-600 { font-size: $fs-600; }
.fs-500 { font-size: $fs-500; }
.fs-400 { font-size: $fs-400; }
.fs-300 { font-size: $fs-300; }

/* Font Weight */
.fw-700 { font-weight: 700; }
.fw-500 { font-weight: 500; }
.fw-400 { font-weight: 400; }
.fw-300 { font-weight: 300; }

/* Line Height */
.fs-900, 
.fs-800, 
.fs-700 {
    line-height: 1.1;
}

/* Other styles */
.uppercase { text-transform: uppercase;}

/* Headers */
.secondary-header {
    padding-block: clamp(4rem, 2vw, 5rem) ;
    text-align: center;

    .title {
        margin-block-end: clamp(1rem, 2vw, 2.5rem);
    }
}