$clr-dark-blue: hsl(235, 19%, 13%);
$clr-orange: hsl(22, 100%, 70%);
$clr-white: hsl(0, 0, 100%);
$clr-offwhite: hsl(22, 28%, 92%);

$clr-neebs: hsl(305, 19%, 13%);
$clr-music: hsl(185, 19%, 13%);
$clr-beehive: hsl(65, 19%, 13%);
$clr-skate: hsl(245, 19%, 13%)