$clr-dark-blue: #1A1B26;
$clr-orange: #FF9D64;
$clr-white: #ffffff;
$clr-offwhite: #F1EAE6;

$clr-eggplant: #261a25;
$clr-seafoam: #1A2526;
$clr-olive: #25261A;
$clr-emerald: #1B1A26;

/* Text color utilities */
.text-dark-blue {color: $clr-dark-blue;}
.text-orange {color: $clr-orange;}
.text-eggplant {color: $clr-eggplant;}
.text-seafoam {color: $clr-seafoam;}
.text-olive {color: $clr-olive;}
.text-emerald {color: $clr-emerald;}