$clr-dark-blue: hsl(235, 19%, 13%);
$clr-orange: hsl(22, 100%, 70%);
$clr-white: hsl(0, 0%, 100%);
$clr-offwhite: hsl(22, 28%, 92%);

$clr-eggplant: hsl(305, 19%, 13%);
$clr-seafoam: hsl(185, 19%, 13%);
$clr-olive: hsl(65, 19%, 13%);
$clr-emerald: hsl(245, 19%, 13%);
// $clr-terracotta: hsl(7, 79%, 13%);
// $clr-terracotta: hsl(351, 51%, 13%);
// $clr-terracotta: hsl(351, 100%, 13%);
$clr-terracotta: hsl(341, 67%, 13%);
$clr-concord: hsl(310, 67%, 13%);


/* Text color utilities */
.text-dark-blue {color: $clr-dark-blue;}
.text-orange {color: $clr-orange;}
.text-eggplant {color: $clr-eggplant;}
.text-seafoam {color: $clr-seafoam;}
.text-olive {color: $clr-olive;}
.text-emerald {color: $clr-emerald;}
// .text-terracotta {color: $clr-emerald;}