/* Gap */
$gap: 2rem;

/* Padding */
$p-body: clamp(1rem, 4vw, 4rem);

/* Media queries */
$mq-500: 500px;
$mq-768: 768px;
$mq-1000: 1000px;
$mq-1200: 1200px;
$mq-1440: 1440px;

/*  Flow */
$flow-space-xxs: .5rem;
$flow-space-xs: 1rem;
$flow-space-sm: 1.5rem; // 24px
$flow-space-md: 2rem; // 32px
$flow-space-lg: 2.25rem; // 36px
$flow-space-xl: 3rem; // 48px
$flow-space-xxl: 4rem; // 64px
$flow-space-xxxl: 10rem; // 160px